h1 {
  color: rgb(2, 0, 0);
  text-align: center;
}
body {
  background-image: linear-gradient(rgb(168, 157, 157), rgb(15, 15, 15));
  min-height: 100vh;
}
p {
  text-align: center;
  color: rgb(173, 173, 173);
}
h2 {
  text-align: center;
  color: rgb(2, 0, 0);
  line-height: 5;
}
li {
  text-align: center;
  line-height: 2;
  color: rgb(8, 8, 8);
  background-color: rgb(99, 95, 95);
}
